/* Default styles for desktop site */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

header {
  background-image: linear-gradient(to bottom, #505050, #000);
  background-size: 100% 300px;
  background-position: 0% 100%;
  transition: background-position 0.5s ease-out;
}

section {
  background-color: #000000;
  background-size: 100% 300px;
  background-position: 0% 100%;
  transition: background-position 0.5s ease-out;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  /* adjust the z-index to ensure it's on top of other elements */
}

header:hover {
  background-position: 100% 100%;
}

.display-4 {
  font-size: 3rem;
}

.lead {
  overflow-wrap: break-word;
  font-size: 1.5rem;
}

.text-primary {
  color: #337ab7;
}

nav2 a {
  margin: 0 20px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li {
  padding-bottom: 10px;
}

.list-unstyled li i {
  margin-right: 10px;
}

.fas,
.fab {
  font-size: 1.5rem;
}

.navbar {
  background-image: linear-gradient(to top, #505050, #000000);
  background-color: #333;
}

.navbar-brand {
  color: #fff;
}

.nav-item {
  position: relative;
  margin-right: 20px;
}

.nav-link {
  position: relative;
  z-index: 1;
  color: #fff;
  text-decoration: none;
}

.info-box {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  background-color: #000000;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px 20px 20px 20px;
  transform: translateX(0px);
  transition: max-height 0.4s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, padding 0.3s ease-out;
  z-index: 1;
}

.info-box::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #000000 transparent;
}

.nav-item:hover .info-box {
  visibility: visible;
  opacity: 1;
  max-height: 200px;
  padding: 20px;
}

.nav-item:hover .nav-link {
  background-color: #000000;
  border-radius: 13px 13px 0 0;
  padding-bottom: 10px;
}

.info-box p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
}

.info-box small.more-info {
  font-size: 12px;
  color: #6c6c6c;
  text-align: right;
  margin-top: 10px;
  display: block;
}

.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* or any other background color you prefer */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* ensure it's on top of the page content */
}

.spinner {
  width: 50px;
  height: 50px;
  margin: 100px auto;
  text-align: center;
  animation: bounce 1.5s infinite;
  animation-delay: 2s;
}

.bounce1,
.bounce2,
.bounce3 {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.5s infinite;
}

.bounce1 {
  animation-delay: -0.5s;
}

.bounce2 {
  animation-delay: 0s;
}

.bounce3 {
  animation-delay: 0.5s;
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

.page-content {
  opacity: 0;
  visibility: hidden;
}

section2 {
  height: 100vh; /* Set the height to 100 viewport height */
  margin-bottom: 0; /* Remove the margin bottom */
  background-image: linear-gradient(to top, #000000, #505050);
  background-size: 100% 100%; /* Make the background cover the entire section */
  display: flex; /* Use flexbox to center the button vertically and horizontally */
  justify-content: center;
  align-items: center;
}

.wipe-container {
  position: relative;
  overflow: hidden;
}

.wipe-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 400vmin;
  height: 400vmin;
  background-color: #000000;
  /* or any other background color you prefer */
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: 0% 100%;
  /* set the transform origin to the top-left corner */
  opacity: 1;
  transition: transform 0.25s ease-out;
}

.wipe-layer.wipe-in {
  transform: translate(-50%, -50%) scale(0);
}

.page-content {
  opacity: 0;
  transition: opacity 1s;
}

.page-content.visible {
  opacity: 1;
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
  /* Add mobile-specific styles here */
  header {
    background-image: linear-gradient(to bottom, #505050, #000);
    background-size: 100% 200px;
  }

  section {
    background-color: #000000;
    background-size: 100% 200px;
  }

 .nav-item {
    margin-right: 10px;
  }

 .nav-link {
    font-size: 1.2rem;
  }

 .info-box {
    width: 300px;
  }

 .wipe-layer {
    width: 200vmin;
    height: 200vmin;
  }
}
